/* CONTACT */

* {
	text-decoration: none;
}

#contactPage{

	height: calc(100% - 300px);

	#contactCards{
		display: flex;
		flex-direction: row;
		height: 100%;
	}

	#contactForm, #contactLinks{
		flex: 1;
		margin: 0 5%;
		border-radius: 20px;
		background-color: lightblue;
	}

	#contactForm{

		h2{
			text-align: center;
		}

		#formSplit{
			display: flex;
			flex-direction: row;

			input{
				flex: 1;
			}
		}

		input,textarea{
			outline: none;
			background-color: rgba(255,255,255, 0.5);
			border: none;
			margin: 10px;
			padding: 10px;
			color: white;
		}

		textarea{
			outline: none;
			background-color: rgba(255,255,255, 0.5);
			border: none;
			margin: 10px;
			padding: 10px;
			color: white;
			height: 100%;
			resize: none;
		}
		
		form{
			display: flex;
			flex-direction: column;
		}

		button{
			width: 200px;
			align-self: center;
			margin-bottom: 10px;
		}
	}

	#contactLinks {
		line-height: 40px;
		font-size: 23px;
		font-weight: bold;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		max-width: 800px;
		justify-content: center;

		.contactLink {
			font-size: 20px;
			color: black;

			.header{
				font-weight: bold;
			}

			.contactText{
				font-weight: lighter;
			}
		}
	}
}