/* CONTACT */

* {
	text-decoration: none;
}

#contactLinks {
	background-color: rgb(37,41,52);
	line-height: 40px;
	font-size: 23px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 800px;
	justify-content: center;
}

#contactForm{
	background-color: rgb(37,41,52);
}

.contactLink {
	color: white;
	font-size: 20px;
}

.contactLink .header{
	font-weight: bold;
}

.contactLink .contactText{
	font-weight: lighter;
}

#contactPage input,textarea{
	outline: none;
	background-color: rgba(255,255,255, 0.2);
	border: none;
	flex: 1;
	margin: 10px;
	padding: 20px;
	color: white;
}

#contactPage button{
	width: 100px;
	margin: auto;
	outline: none;
	border: none;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px 0;
	background-color: rgba(255,255,255, 0.2);
}

.contactPage textarea{
	height: 200px;
}

.contactPage form{
	display: flex;
	flex-direction: column;
}