/* CSS FOR ALL */

* {
	font-family: 'IBM Plex Sans', serif;
}

/* highlights */

::selection {
	background: grey;
	color: black;
}

/* scrollbar */

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: grey;
}

::-webkit-scrollbar-thumb:hover {
	background: lightslategrey;
}

body {
	margin: 0;
	height: 100vh;
}

.title {
	font-weight: bold;
	font-size: 50px;
	margin-bottom: 0px;
	text-align: center;
}

#root{
	height: 100%;
}

hr{
	width: 50px;
	height: 3px;
	background-color: black;
}

.main{
	padding-top: 30px;
}

button{
	background-color: rgb(30,30,30);
	outline: none;
	border: none;
	color: white;
	padding: 20px;
	font-size: 20px;
	transition: 0.2s;

	&:hover{
		cursor: pointer;
		transform: scale(1.1);
	}
}