.body {
  float: left;
  width: 85%;
  font-size: 20px;
}
.project-page-title {
  font-size: 60px;
  font-weight: bold;
  text-align: left !important;
}
.date {
  padding-bottom: 20px;
  margin-top: -50px;
  width: 200px;
}
.pdate {
  border-top: 5px solid black;
  padding-top: 10px;
}
.block {
  padding-bottom: 20px;
  width: 100%;
  float: left;
}
.text {
  display: inline-block;
  vertical-align: middle;
  width: 60%;
}
.left {
  text-align: left;
  font-weight: normal;
}
div.img {
  width: 275px;
  margin-left: 40px;
  display: inline-block;
  vertical-align: middle;
}
.render {
  width: 500px;
  margin-left: 40px;
  display: inline-block;
  vertical-align: middle;
}
img.img {
  width: 100%;
  height: 100%;
  border: 5px solid white;
}
h1 {
  line-height: 50px;
}
li {
  text-align: left;
}
@media only screen and (min-width: 1000px) {
  .body {
    margin-left: 175px;
  }
}
@media only screen and (max-width: 1000px) {
  .block {
    width: 100%;
  }
}
@media only screen and (max-width: 972px) {
  .text {
    width: 100%;
  }
}
