@media only screen and (min-width: 1000px) {
  #homepage {
    display: flex;
    flex-direction: row;
    height: calc(100% - 100px);
  }
  #homepage #smallScreenContactButton {
    display: none;
  }
  #homepage #leftSection {
    padding: 100px 100px 0;
    height: calc(100% - 100px);
    flex: 2;
    background-color: white;
  }
  #homepage #leftSection h1 {
    font-size: 70px;
    font-weight: bold;
    line-height: 80px;
  }
  #homepage #leftSection #splash {
    font-size: 30px;
    transition: 0.2s;
    width: fit-content;
    max-width: 300px;
    transform-origin: left;
    user-select: none;
  }
  #homepage #leftSection #splash:hover {
    transform: scale(1.1);
  }
  #homepage #leftSection a {
    text-decoration: none;
    color: #0096ff;
  }
  #homepage #leftSection a:hover {
    border-bottom: 2px solid #0096ff;
  }
  #homepage #rightSection {
    flex: 5;
    padding: 100px 50px;
    height: calc(100% - 100px);
    background-color: #add8e6;
  }
  #homepage #rightSection p {
    font-size: 25px;
  }
}
@media only screen and (max-width: 1000px) {
  #homepage {
    display: flex;
    flex-direction: column;
  }
  #homepage #largeScreenContactButton {
    display: none;
  }
  #homepage #leftSection {
    padding-top: 50px;
  }
  #homepage .homepageSection {
    padding: 0 100px;
    background-color: white;
  }
  #homepage .homepageSection h1 {
    font-size: 70px;
    font-weight: bold;
    line-height: 80px;
  }
  #homepage .homepageSection #splash {
    font-size: 30px;
    transition: 0.2s;
    width: 0px;
    white-space: nowrap;
  }
  #homepage .homepageSection #splash:hover {
    transform: scale(1.1);
  }
  #homepage .homepageSection a {
    text-decoration: none;
    color: #0096ff;
  }
  #homepage .homepageSection a:hover {
    border-bottom: 2px solid #0096ff;
  }
  #homepage .homepageSection p {
    font-size: 25px;
  }
  html,
  body {
    overflow-x: hidden;
  }
}
