/* CSS FOR ALL */
* {
  font-family: 'IBM Plex Sans', serif;
}
/* highlights */
::selection {
  background: grey;
  color: black;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: grey;
}
::-webkit-scrollbar-thumb:hover {
  background: lightslategrey;
}
body {
  margin: 0;
  height: 100vh;
}
.title {
  font-size: 50px;
  margin-bottom: 0px;
  text-align: center;
}
#root {
  height: 100%;
}
hr {
  width: 100px;
  height: 3px;
  background-color: black;
}
