#navBox {
  position: absolute;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  background-color: #1e1e1e;
  width: 100%;
}
.navlinks {
  text-decoration: none;
  padding-left: 40px;
  user-select: none;
  color: white;
}
.navlinks p {
  transition: 0.2s;
}
.navlinks:hover p {
  transform: scale(1.1);
}
/* mobile nav */
#navButton {
  background-color: white;
  width: 75px;
  height: 37.5px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 10px;
  display: none;
  font-size: 22.5px;
  justify-content: center;
  align-items: center;
}
#navButton p {
  height: 80px;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  #navButton {
    z-index: 10;
    display: flex;
  }
  #navBox {
    padding-top: 50px;
    position: absolute;
    flex-flow: column;
    height: 100vh;
    width: 100vw;
    background-color: rgba(30, 30, 30, 0.7);
    display: none;
    z-index: 9;
    /* overflow: hidden; */
  }
  .navlinks {
    padding: 0;
    padding-top: 10px;
    margin: 25px auto;
    width: 100%;
    text-align: center;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navlinks p {
    margin: 0;
    padding: 0;
    width: fit-content;
  }
}
